<!DOCTYPE html>
<html>

<head>
    <title>TABS</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="bs__header container">
        <div class="header-img-container">
            <img class="header-img" src="../img/logo/tabs.jpg">
        </div>
        <div class="header-co-details-container">
            <p class="title co-name">Tab Work Solution Inc.</p>
            <p class="text co-address">80 New Lucban Ext., Baguio City</p>
            <p class="text co-contact">091234567890</p>
            <p class="text co-tin">111-111-111-11111</p>
        </div>
        <div class="header-billing-details-container">
            <p class="label billing-no">
                Billing ID
            </p>
            <p class="text billing-no" id="billing_id">
                123
            </p>
            <p class="label billing-date">
                Billing Date
            </p>
            <p class="text billing-date" id="billing_date">
                mm/dd/yyyy
            </p>
        </div>
    </div>

    <div class="=customer-details">
        <div class="customer-name-container">
            <p class="label customer-name">Bill To: </p>
            <p class="text customer-name" id="customer_name">Customer Name</p>
            <p class="text customer-address" id="customer_address">#07 Tropical Island, Baguio City</p>
            <p class="text customer-contact" id="customer_contact">+631234567890</p>
            <p class="text customer-email" id="customer_email">sample@email.com</p>
        </div>
    </div>


    <div class="body-details">
        <table class="tbl particulars" cellspacing="0">
            <thead>
                <tr>
                    <td class="text tbl-header desc">Description</td>
                    <td class="text tbl-header price">Price</td>
                    <td class="text tbl-header qty">Qty</td>
                    <td class="text tbl-header total">Total</td>
                </tr>
            </thead>
            <tbody id="bs_items">
                <!-- <tr>
                    <td class="text">test</td>
                    <td class="currency price">100.00</td>
                    <td class="currency qty">1</td>
                    <td class="currency total">100.00</td>
                </tr>
                <tr>
                    <td class="text">test</td>
                    <td class="currency price">100.00</td>
                    <td class="currency qty">1</td>
                    <td class="currency total">100.00</td>
                </tr><tr>
                    <td class="text">test</td>
                    <td class="currency price">100.00</td>
                    <td class="currency qty">1</td>
                    <td class="currency total">100.00</td>
                </tr><tr>
                    <td class="text">test</td>
                    <td class="currency price">100.00</td>
                    <td class="currency qty">1</td>
                    <td class="currency total">100.00</td>
                </tr><tr>
                    <td class="text">test</td>
                    <td class="currency price">100.00</td>
                    <td class="currency qty">1</td>
                    <td class="currency total">100.00</td>
                </tr> -->
            </tbody>
            <tfoot>
                <tr>
                    <td class="label summarry" colspan="3">Total</td>
                    <td class="currency grand-total" id="grand_total">0.00</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="notes-container">
        <p class="label-notes">NOTES:</p>
        <p class="notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </div>
    <div class="btn-container">
        <button id="save" class="btn save green" onclick="save()">Save as PDF</button>
    </div>
    <script src="../js/bs.js"></script>
</body>

</html>