/* START FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* END FONTS */

.header-img {
    height: 80px;
}

.bs__header.container {
    display: flex;
    flex-wrap: nowrap;
}

.header-img-container {
    width: 25%;
}

.header-co-details-container {
    width: 50%;
}

.header-billing-details-container {
    width: 25%;
    text-align: right;
}

p {
    margin: 0px;
}


.co-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.tbl.particulars {
    width: 100%;
}

.currency {
    font-family: 'Roboto Mono', monospace;
}

.tbl-header{
    text-align: center;
    font-size: 20px;
}

.currency.price{
    text-align: right;
}

.currency.qty{
    text-align: center;
}

.currency.total{
    text-align: right;
}

.currency.grand-total{
    font-weight: 500;
    text-align: right;
}

.label.summarry{
    text-align: right;
    font-size: 18px;
}

.tbl-header.desc{
    width:70%;
}
.tbl-header.price{
    width:10%;
}
.tbl-header.qty{
    width:10%;
}
.tbl-header.total{
    width:10%;
}

.tbl.particulars > thead {
    background: #6ba4ff;
}

.tbl.particulars > tbody > tr > td {
   padding-left:1rem;
   padding-right:1rem;
}

.tbl.particulars > tfoot > tr > td {
    padding-left:1rem;
    padding-right:1rem;    
 }

.tbl.particulars tr:nth-child(even){background-color: #f2f2f2;}

.tbl.particulars tr:hover {background-color: #ddd;}