/* START FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* END FONTS */


.header-img-container{
    text-align: center;
}

.header-img {
    height: 50px;
    /* width:200px */
}

.bs__header.container {
    display: flex;
    flex-wrap: nowrap;
}

.header-img-container {
    width: 20%;
}

.header-co-details-container {
    width: 40%;
}

.header-billing-details-container {
    width: 40%;
    text-align: right;
}

p {
    margin: 0px;
}


.co-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.tbl.particulars {
    width: 100%;
}

.currency {
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
}

.tbl-header{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.currency.price{
    text-align: right;
}

.currency.qty{
    text-align: center;
}

.currency.total{
    text-align: right;
}

.currency.grand-total{
    font-weight: 500;
    text-align: right;

}

.label.summarry{
    text-align: right;
    font-size: 14px;
}

.tbl-header.desc{
    width:70%;
}
.tbl-header.price{
    width:10%;
}
.tbl-header.qty{
    width:10%;
}
.tbl-header.total{
    width:10%;
}

.tbl.particulars > thead {
    background: #6ba4ff;
}

.tbl.particulars > tbody > tr > td {
   padding-left:1rem;
   padding-right:1rem;
}

.tbl.particulars > tfoot > tr > td {
    padding-left:1rem;
    padding-right:1rem; 
    border:none;
    border-top:1px solid #6ba4ff;
    /* border:1px solid #6ba4ff; */
    /* background: #6ba4ff; */
 }

.tbl.particulars>tbody tr:nth-child(even){background-color: #f2f2f2;}

.tbl.particulars>tbody tr:hover {background-color: #ddd;}

.tbl.particulars>thead>tr>td,
.tbl.particulars>tbody>tr>td{
    border:2px solid white;
}

.body-details{
    margin-top: 24px;
}

.btn{
    width: 190px;
    border-radius: none;
    border:none;
    background: none;
    box-shadow: none;
}

.btn.green{
    font-family: 'Open Sans', sans-serif;
    background: #149636;
    color: white;
    height: 25px;
    font-weight: 500;
    cursor: pointer;
}

.btn-container{
    text-align: right;
    margin-top:24px;
}

#customer_name{
    font-weight: 700;
}

.customer-details{
    margin-top:24px;
}

.body { height:297mm; width:210mm; margin-left:auto; margin-right:auto; }

.row{
    display: flex;
    gap: 10px;
    /* width: 100%; */
    flex-direction: row;
    text-align:center;
    margin-top:150px;
}

.container-name{
    flex:50%;
}

.container-date{
    flex:50%;
}

.signature-note{
    display:block;
}

.signature{
    width: 75%;
    border:0;
    border-bottom: 1px solid black;
}

.notes-container{
    margin-top: 24px;
}

.notes{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}

.upper-case{
    text-transform: uppercase;
}
@media print{
    #save{
        display:none;
    }

    .tbl.particulars>thead{
        -webkit-print-color-adjust: exact;
        background: #6ba4ff !important;
        print-color-adjust: exact; 
    }
}